/*! Import CSS */
@import url("./main.css");
@import url("./responsive.css");




/*! API Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');




/*! Default */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.30s cubic-bezier(.215, .61, .355, 1);
}






/*! Root */
:root {

    /*font*/
    --lora: "Lora", serif;
    --lato: "Lato", sans-serif;

    /*colors*/
    --color60: #f8f8f8;
    --color30: #30475E;
    --color10: #7B8FA1;


    /*dimension font*/
    --f1: 16px;
    --f2: 20px;
    --f3: 32px;
    --f4: 48px;
    --f5: 64px;

}





/*! Selection Wrapping */
::selection {
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    cursor: default;
}








/*! Spacer / Divider */
.spacer {
    width: 100%;
    height: 50px;
}