@media (max-width: 950px) {

    /*! Hero */
    .hero h1 {
        font-size: var(--f4);
    }

    .hero p {
        font-size: var(--f1);
    }

    .hero a {
        font-size: var(--f1);
    }
}





@media (max-width: 768px) {

    /*! Wrapper */
    .wrapper {
        width: 90vw;
        padding: 2.1rem;
    }
}









@media (max-width: 550px) {

    h1 {
        font-size: var(--f3) !important;
    }

    h2 {
        font-size: var(--f2) !important;
    }

    h3 {
        font-size: var(--f2) !important;
    }

    p {
        font-size: var(--f1) !important;
    }

    div {
        padding: 0.8rem !important;
    }

    .wrapper {
        padding: 1.5rem !important;
        width: 100% !important;
    }

    .map-container {
        width: 100% !important;
    }

}